h2 {
    position: fixed;
    left: 500px;
    right: 500px;
    color: white;
    font-family: 'Barrio';
    text-align: center;
}

.images{
    position: fixed;
    left: 640px;
    top: 120px;
}

#ouïe{
    position: fixed;
    left: 900px;
    top: 800px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Barrio';
}

#vue{
    position: fixed;
    left: 896px;
    top: 875px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Barrio';
}
body {
    background-color: #020038
}
